.imagem{
    width: 14%
}

nav {
    background-color: #ffffff;
    padding: 10px 0;
    box-decoration-break: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    position:relative;
     margin:0 15px;
 }

 nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    min-width: 160px;
    padding: 0;
    
}
nav ul li a{
   
    font-family: "Lexend", sans-serif;
    color: rgb(180, 169, 115);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    color: #78818e;
}

li .joiasbtn {
    font-family: "Lexend", sans-serif;
    color: rgb(180, 169, 115);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    padding: 10px;
    display: block;
}
.joiasbtn:hover {
    color: #78818e;
    padding : -10px;
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    background-color: rgb(255, 255, 255);
    min-width: 200px;
    
}
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    display: block;
    font-family: "Lexend", sans-serif;
}
.dropdown:hover .dropdown-content {
    display: block;
    
}

.container-login {
    margin: auto;
    text-align: center;
    background-color: rgb(202, 50, 16);
    border: 1px solid #f34cc1;
    border-radius: 8px; /* Arredonda os cantos dos cards */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para dar um efeito de elevação */
    flex: 1; /* Permite que os cards cresçam igualmente */
    max-width: 300px; /* Define uma largura máxima para os cards */
}

.container-login button{
    background-color: rgb(255, 0, 0);
}